
@model ShampanPOS.Models.PurchaseOrderReportVM
@{
    ViewBag.Title = "Purchase Order Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Purchase Order Report </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="accordion" id="reportFilterAccordion">
        <div class="card">

            <div class="card-body p-2">

                <div class="form-group row">

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.SupplierId)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.SupplierId,
                                new { @class = "required form-control form-control-sm", @style = "width: 100%;" })
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.OrderFromDate)
                        <div class="d-flex align-items-center">
                            @Html.TextBoxFor(model => model.OrderFromDate,
                                new { @class = "form-control form-control-sm kendoDatePicker", @id = "OrderFromDate" })
                            <input type="checkbox" id="chkOrderFromDate" style="margin-left:6px;" />
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.OrderToDate)
                        <div class="d-flex align-items-center">
                            @Html.TextBoxFor(model => model.OrderToDate,
                                new { @class = "form-control form-control-sm kendoDatePicker", @id = "OrderToDate" })
                            <input type="checkbox" id="chkOrderToDate" style="margin-left:6px;" />
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.DeliveryFromDate)
                        <div class="d-flex align-items-center">
                            @Html.TextBoxFor(model => model.DeliveryFromDate,
                                new { @class = "form-control form-control-sm kendoDatePicker", @id = "DeliveryFromDate" })
                            <input type="checkbox" id="chkDeliveryFromDate" style="margin-left:6px;" />
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.DeliveryToDate)
                        <div class="d-flex align-items-center">
                            @Html.TextBoxFor(model => model.DeliveryToDate,
                                new { @class = "form-control form-control-sm kendoDatePicker", @id = "DeliveryToDate" })
                            <input type="checkbox" id="chkDeliveryToDate" style="margin-left:6px;" />
                        </div>
                    </div>

                </div>


                <div class="form-group row">

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.ReportType)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.ReportType,
                                new { placeholder = "Enter Report Type", @class = "form-control form-control-sm" })
                        </div>
                    </div>

                    <div class="col-sm-2 d-flex flex-column">
                        <label for="IsSummary">Summary</label>

                        <div class="Onoffbtn">
                            <input type="hidden" name="IsSummary" value="false" />

                            <input id="IsSummary"
                                   name="IsSummary"
                                   type="checkbox"
                                   value="true"
                                   @(Model.IsSummary ? "checked=\"checked\"" : "")
                                   data-bootstrap-switch
                                   data-off-color="danger"
                                   data-on-color="success"
                                   data-on-text="True"
                                   data-off-text="False" />
                        </div>
                    </div>

                    <div class="col-sm-2 d-flex align-items-end">
                        <button type="button"
                                class="btn btn-success btn-sm"
                                onclick="PrintPurchaseReport()">
                            <i class="fas fa-print"></i> Print
                        </button>
                    </div>



                </div>

            </div>

        </div>
    </div>
</div>

@section scripts{

    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
}

<script>

    var getSupplierId = 0;

    $(document).ready(function () {

        getSupplierId = $("#SupplierId").val() || 0;
        $("[data-bootstrap-switch]").bootstrapSwitch();

        GetSupplierComboBox();
        GetReportTypeComboBox()
        // Kendo DatePickers
        $("#OrderFromDate").kendoDatePicker();
        $("#OrderToDate").kendoDatePicker();
        $("#DeliveryFromDate").kendoDatePicker();
        $("#DeliveryToDate").kendoDatePicker();

        var currentDate = new Date();

        $("#OrderFromDate").data("kendoDatePicker").value(currentDate);
        $("#OrderToDate").data("kendoDatePicker").value(currentDate);
        $("#DeliveryFromDate").data("kendoDatePicker").value(currentDate);
        $("#DeliveryToDate").data("kendoDatePicker").value(currentDate);
    });



    function GetSupplierComboBox() {

        $("#SupplierId").kendoMultiColumnComboBox({
            dataTextField: "Name",
            dataValueField: "Id",
            height: 400,
            columns: [
                { field: "Code", title: "Code", width: 100 },
                { field: "Name", title: "Name", width: 150 }
            ],
            filter: "contains",
            filterFields: ["Code", "Name"],
            dataSource: {
                transport: {
                    read: "/Common/Common/GetSupplierList"
                }
            },
            placeholder: "Select Supplier",

            dataBound: function () {
                if (getSupplierId) {
                    this.value(parseInt(getSupplierId));
                }
            }
        });
    }



    function GetReportTypeComboBox() {

        $("#ReportType").kendoMultiColumnComboBox({
            dataTextField: "Name",
            dataValueField: "Id",
            height: 400,

            columns: [
                { field: "Name", title: "Name", width: 200 }
            ],

            filter: "contains",
            filterFields: ["Name"],

            dataSource: {
                transport: {
                    read: "/Common/Common/GetReportTypeList"
                },
                schema: {
                    data: function (response) {

                        return response.filter(function (item) {
                            return item.Name !== "Customer Wise";
                        });

                    }
                }
            },

            placeholder: "Select Report Type",

            dataBound: function () {
                if (getReportTypeId && getReportTypeId !== "0") {
                    this.value(getReportTypeId);
                }
            },

            change: function () {
                $("#ReportType").val(this.value());
            }

        });
    }


    function PrintPurchaseReport() {

        var supplierId = $("#SupplierId").data("kendoMultiColumnComboBox").value();
        var reportType = $("#ReportType").data("kendoMultiColumnComboBox").value();
        var combo = $("#SupplierId").data("kendoMultiColumnComboBox");
        var supplierName = combo ? combo.text() : "";
        var isSummary = $("#IsSummary").is(":checked");


        supplierId = supplierId || 0;
        reportType = reportType || 0;

        var orderFromDate = "";
        var orderToDate = "";
        var deliveryFromDate = "";
        var deliveryToDate = "";

        if ($("#chkOrderFromDate").is(":checked")) {
            orderFromDate = $("#OrderFromDate").val();
        }

        if ($("#chkOrderToDate").is(":checked")) {
            orderToDate = $("#OrderToDate").val();
        }

        if ($("#chkDeliveryFromDate").is(":checked")) {
            deliveryFromDate = $("#DeliveryFromDate").val();
        }

        if ($("#chkDeliveryToDate").is(":checked")) {
            deliveryToDate = $("#DeliveryToDate").val();
        }

        var url = '@Url.Action("PurchaseOrderListReport", "PurchaseOrder", new { area = "DMS" })'
            + '?supplierId=' + supplierId
            + '&fromDate=' + encodeURIComponent(orderFromDate)
            + '&toDate=' + encodeURIComponent(orderToDate)
            + '&deliveryFromDate=' + encodeURIComponent(deliveryFromDate)
            + '&deliveryToDate=' + encodeURIComponent(deliveryToDate)
            + '&reportType=' + reportType
            + '&isSummary=' + isSummary;

         window.open(url, "_blank");
    }


    $("#chkOrderFromDate").change(function () {
        $("#OrderFromDate").prop("disabled", !this.checked);
    });

    $("#chkOrderToDate").change(function () {
        $("#OrderToDate").prop("disabled", !this.checked);
    });

    $("#chkDeliveryFromDate").change(function () {
        $("#DeliveryFromDate").prop("disabled", !this.checked);
    });

    $("#chkDeliveryToDate").change(function () {
        $("#DeliveryToDate").prop("disabled", !this.checked);
    });





</script>

