@model ShampanPOS.Models.CustomerVM
@{
    ViewBag.Title = "Report Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Customer Report </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="accordion" id="reportFilterAccordion">
        <div class="card">

            <div class="card-body p-2">

                <div class="form-group row">

                    <!-- Category -->
                    <div class="col-sm-2">
                        @Html.Label("Customer Group")
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.CustomerGroupId, new { placeholder = "Select Customer Group", @class = "  form-control form-control-sm " })
                        </div>
                    </div>
                    <!-- Category -->
                    <div class="col-sm-2">
                        @Html.Label("Customer Code")
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.Code, new { placeholder = "Write Customer Code", @class = "  form-control form-control-sm " })
                        </div>
                    </div>

                    <!-- Category -->
                    <div class="col-sm-2">
                        @Html.Label("Customer Name")
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.Name, new { placeholder = "Write Customer Name", @class = "  form-control form-control-sm " })
                        </div>
                    </div>

                    <!-- Print Button -->
                    <div class="col-sm-2" style="margin-top:26px;">
                        <button type="button"
                                class="btn btn-success btn-sm"
                                onclick="PrintCustomerReport()">
                            <i class="fas fa-print"></i> Print
                        </button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>



@section scripts{
    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/DMS/js/Controllers/CustomerController.js"></script>

    <script>
        $(document).ready(function () {

            CustomerController.init();
        });

    </script>


}

<script>
    function PrintCustomerReport() {

        var groupId = $("#CustomerGroupId").val();
        var customerCode = $("#Code").val();
        var customerName = $("#Name").val();

        if (!groupId) {
            groupId = "";
        }

        if (!customerCode) {
            customerCode = "";
        }

        if (!customerName) {
            customerName = "";
        }
        var url = `/DMS/Customer/CustomerReport?groupId=${groupId}&customerCode=${customerCode}&customerName=${customerName}`;

        //var url = `/DMS/Customer/CustomerReport?groupId=${groupId},customerCode=${customerCode},customerName=${customerName}`;

        window.open(url, "_blank");
    }
</script>

