@model ShampanPOS.Models.ProductBatchHistoryVM
@{
    ViewBag.Title = "Product Batch History Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.HiddenFor(model => model.ProductName)
}
<style>
    .k-dropdown-wrap .k-input {
        line-height: 1.6em !important;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Sale Price History Entry </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <form id="frmEntry">
        <div class="card card-secondary">
            <div class="card-header">

                Product Info 
                <span style="font-size:initial;">
                    <strong style="color:antiquewhite">
                        : @(!string.IsNullOrEmpty(Model.ProductName) && !string.IsNullOrEmpty(Model.ProductCode) ? $"{Model.ProductName} ({Model.ProductCode})" : "Product (Code)")
                    </strong>
                </span>
            </div>

            <div class="card-body">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.BranchId)
                @Html.HiddenFor(model => model.Operation)
                @Html.HiddenFor(model => model.IsIndex)
                @Html.HiddenFor(model => model.ProductId)


                <div class="form-group row">

                    @*<div class="col-sm-2">
            @Html.LabelFor(model => model.EntryDate)
            <div class="input-group date">
                @Html.TextBoxFor(model => model.EntryDate, new { @class = "  form-control form-control-sm dateRange" })
                <div class="input-group-append">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.LabelFor(model => model.MFGDate)
            <div class="input-group date">
                @Html.TextBoxFor(model => model.MFGDate, new { @class = "  form-control form-control-sm dateRange" })
                <div class="input-group-append">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.LabelFor(model => model.EXPDate)
            <div class="input-group date">
                @Html.TextBoxFor(model => model.EXPDate, new { @class = "  form-control form-control-sm dateRange" })
                <div class="input-group-append">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                </div>
            </div>
        </div>*@
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.EffectDate)
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.EffectDate, new { @class = "  form-control form-control-sm dateRange" })
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.PriceCategory)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.PriceCategory, new { @class = "   ", @style = "width: 100%;" })
                        </div>

                    </div><span id="titleError3" class="text-danger" style="display:none;"></span>

                    @*<div class="col-sm-2">
                        @Html.LabelFor(model => model.CostPrice)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.CostPrice, new { @class = " dFormat NumericCheck form-control form-control-sm " })
                        </div>
                        @Html.ValidationMessageFor(model => model.CostPrice)

                    </div>*@
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.SalesPrice)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.SalesPrice, new { @class = " dFormat NumericCheck form-control form-control-sm " })

                        </div>
                        @Html.ValidationMessageFor(model => model.SalesPrice)
                    </div>





                    @*<div class="col-sm-2">
                        @Html.LabelFor(model => model.PurchasePrice)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.PurchasePrice, new { @class = " dFormat NumericCheck form-control form-control-sm " })

                        </div>
                        @Html.ValidationMessageFor(model => model.PurchasePrice)
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.SD)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.SD, new { @class = " dFormat NumericCheck form-control form-control-sm " })

                        </div>
                        @Html.ValidationMessageFor(model => model.SD)
                    </div>*@

                </div>


                @*<div class="form-group row">
                    
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.VATRate)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.VATRate, new { @class = " dFormat NumericCheck form-control form-control-sm " })

                        </div>
                        @Html.ValidationMessageFor(model => model.VATRate)
                    </div>

                </div>*@



                </div>
            </div>
    </form>

    <div class="card" style="flex-direction: row; justify-content: space-between; align-items: center;">
        <div class="card-header p-2">

            @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            {
                <button type="button" class="button btnsave sslUpdate">Update</button>

                <button style="float: right; margin-left: 5px;" type="button" title="Add New" data-url="/DMS/ProductBatchHistory/Create?ProductId=@Model.ProductId" onclick="GoTo(this)" class="button NewButton addNewButton">
                    New
                </button>
            }
            else
            {
                <div style="display:none;" class="divUpdate">
                    <button type="button" class="button btnsave sslUpdate">Update</button>
                    <button style="float: right; margin-left: 5px;" type="button" title="Add New" data-url="/DMS/ProductBatchHistory/Create?ProductId=@Model.ProductId" onclick="GoTo(this)" class="button NewButton addNewButton">
                        New
                    </button>
                </div>
                <div class="divSave">
                    <button class="button btnsave sslSave" type="button" id="">Save</button>
                </div>
            }

        </div>
        <div class="auditshow"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div>
    </div>

    <div class="card card-secondary auditcard">

        <div class="card-header">
            <h3 class="card-title">Audit Details</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        @Html.Label("Type")
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.Label("Created")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Updated")
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Label("By")<br /><div class="clearfix">&nbsp;</div>
                            @Html.Label("On")<br /><div class="clearfix">&nbsp;</div>
                            @Html.Label("Remarks")
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "CreatedBy  form-control form-control-sm ", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.CreatedOn, new { @class = "CreatedOn  form-control form-control-sm ", @readonly = "readonly" })
                        </div>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.LastModifiedBy, new { @class = "LastUpdateBy  form-control form-control-sm lub", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.LastModifiedOn, new { @class = "LastUpdateOn  form-control form-control-sm luo", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>

@section scripts{

    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/DMS/js/Controllers/ProductBatchHistoryController.js"></script>

    <script>
        $(document).ready(function () {
            ProductBatchHistoryController.init();
        });

    </script>


}

