@model ShampanPOS.Models.CustomerPaymentCollectionVM
@{
    ViewBag.Title = "Customer Payment Collection Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var serial = 1;
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Customer Payment Collection Entry </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Kendo Window Container -->


    <form id="frmEntry">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Customer Payment Collection Info</h3>
            </div>
            <div class="card-body">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Operation)
                @Html.HiddenFor(model => model.ImagePath)
                @*@Html.HiddenFor(model => model.SaleDeleveryId)*@
                @Html.HiddenFor(model => model.BranchId)
                @Html.HiddenFor(model => model.IsProcessed)
                
                <div class="form-group row">

                    <div class="col-sm-2 codeWidth">
                        @Html.LabelFor(model => model.Code)
                        <div style="display: flex; align-items: center;">
                            <span id="btnPrevious" class="fa fa-backward" style="color: darkseagreen;"></span>&nbsp;
                            @Html.TextBoxFor(model => model.Code, new { placeholder = "Code Auto Generate", @class = " csCode  form-control form-control-sm", @readonly = "readonly", @style = "width:140px;" }) &nbsp;
                            <span id="btnNext" class="fa fa-forward" style="color: darkseagreen;"></span>
                        </div>
                    </div>


                    @*<div class="col-sm-2">
            @Html.LabelFor(model => model.UserId)
            <div class="input-group ">
                @Html.TextBoxFor(model => model.UserId, new { @class = "   ", @style = "width: 100%;" })
            </div>
            <span id="titleError1" class="text-danger" style="display:none;"></span>
        </div>*@

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.CustomerId)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.CustomerId, new { @class = "   ", @style = "width: 100%;" })
                        </div>
                        <span id="titleError2" class="text-danger" style="display:none;"></span>
                    </div>
                    @*<div class="col-sm-2">
            @Html.LabelFor(model => model.SaleDeleveryNo)
            <div class="input-group ">
                @Html.TextBoxFor(model => model.SaleDeleveryNo, new { @class = "  form-control form-control-sm ", @readonly = "readonly" })
                <div class="input-group-append"><button class="btn btn-success btn-sm txtSaleDeleveryId" type="button"><i class='fa fa-search'></i></button></div>
            </div>
            @Html.ValidationMessageFor(model => model.SaleDeleveryNo)
        </div>*@

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.ModeOfPayment)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.ModeOfPayment, new { placeholder = " Enter ModeOfPayment No", @class = "  form-control form-control-sm " })
                        </div>
                        <span id="titleError2" class="text-danger" style="display:none;"></span>
                    </div>


                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.ModeOfPaymentNo)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.ModeOfPaymentNo, new { placeholder = " Enter ModeOfPayment No", @class = "  form-control form-control-sm " })

                        </div>
                        @Html.ValidationMessageFor(model => model.ModeOfPayment)
                    </div>


                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Amount)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.Amount, new { @class = "dFormat NumericCheck  form-control form-control-sm " })

                        </div>
                        @Html.ValidationMessageFor(model => model.Amount)
                    </div>


                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.RestAmount)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.RestAmount, new { @class = "dFormat NumericCheck  form-control form-control-sm " })

                        </div>
                        @Html.ValidationMessageFor(model => model.RestAmount)
                    </div>



                </div>

                <div class="form-group row">





                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.FileName)
                        <div class="input-group ">
                            @Html.TextAreaFor(model => model.FileName, new { placeholder = " Enter File Name", @class = "  form-control form-control-sm " })

                        </div>
                        @Html.ValidationMessageFor(model => model.FileName)
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.TransactionDate)
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.TransactionDate, new { @class = "  form-control form-control-sm dateRange" })
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.ModeOfPaymentDate)
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.ModeOfPaymentDate, new { @class = "  form-control form-control-sm dateRange" })
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Attachment)
                        <div class="input-group ">
                            @Html.TextAreaFor(model => model.Attachment, new { placeholder = " Enter File Name", @class = "  form-control form-control-sm " })

                        </div>
                        @Html.ValidationMessageFor(model => model.Attachment)
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.ImagePath)
                        <div class="input-group">
                            <input type="file" id="imageUpload" class="form-control form-control-sm" accept="image/*" style="height:1%;" />
                            <input type="hidden" id="ImagePath" name="ImagePath" value="@Model.ImagePath" />
                        </div>

                        <!-- Ensure the preview image always exists -->
                        <img id="imagePreview" src="@(!string.IsNullOrEmpty(Model.ImagePath) ? Url.Content(Model.ImagePath) : "")"
                             alt="Customer Image" width="100" style="display: @(string.IsNullOrEmpty(Model.ImagePath) ? "none" : "block");" />

                        <!-- Delete button, hidden by default -->
                        <button type="button" id="deleteImageBtn" class="btn btn-danger" style="display: @(string.IsNullOrEmpty(Model.ImagePath) ? "none" : "inline-block");">
                            <i class="fas fa-trash-alt" style="margin-right: 5px;"></i>Delete
                        </button>
                    </div>

                    @*<div class="col-sm-2">
            @Html.LabelFor(model => model.Attachment)
            <div class="input-group">
                <input type="file" id="imageUpload" class="form-control form-control-sm" />
                <input type="hidden" id="ImagePath" name="ImagePath" value="@Model.Attachment" />
            </div>
            Ensure the preview image always exists
            <img id="imagePreview" src="@(!string.IsNullOrEmpty(Model.Attachment) ? Url.Content(Model.Attachment) : "")"
                 alt="Customer Image" width="100" style="display: @(string.IsNullOrEmpty(Model.Attachment) ? "none" : "block");" />
            Delete button, hidden by default
            <button type="button" id="deleteImageBtn" class="btn btn-danger" style="display: @(string.IsNullOrEmpty(Model.Attachment) ? "none" : "inline-block");">
                <i class="fas fa-trash-alt" style="margin-right: 5px;"></i>Delete
            </button>
        </div>*@
                </div>

            </div>

        </div>

    </form>

<!-- Kendo Window Container -->

<div class="card">
    <div class="card-header p-2">

        @if (Model.IsPost)
        {
            <button type="button" class="button sslPush">Already Posted</button>
            <button class="button sslPrintC" data-id="@Model.Id">Print</button>
            <button class="button btnProcess sslSync" data-id="@Model.Id">Process</button>

            <button style="float:right;" type="button" title="Add New" data-url="/DMS/CustomerPaymentCollection/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>
        }
        else if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <button type="button" class="button btnsave sslUpdate">Update</button>

            <button type="button" class="button btnPost sslPost">Post</button>

            <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
            <button class="button sslPrintC" data-id="@Model.Id">Print</button>
          
            <button style="float:right;" type="button" title="Add New" data-url="/DMS/CustomerPaymentCollection/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>
        }
        else
        {
    <div style="display:none;" class="divUpdate">
        <button type="button" class="button btnsave sslUpdate">Update</button>
        <button type="button" class="button btnPost sslPost">Post</button>
        <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
        <button type="button" style="display:none;" class="button btnProcess sslSync" data-id="@Model.Id">Process</button>
        <button style="float:right;" type="button" title="Add New" data-url="/DMS/CustomerPaymentCollection/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
            New
        </button>

    </div>
            <div class="divSave">
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            </div>
        }

    </div>
</div>

<div class="container-fluid" id="saleDiv" style="display:none;">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                Sale Due List
            </h3>
        </div>
        <div class="card-body">
            <div id="SaleGridDataList"></div>
        </div>
    </div>
</div>





@section scripts{
    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/DMS/js/Controllers/CustomerPaymentCollection.js"></script>

    <script>
        $(document).ready(function () {

            CustomerPaymentCollection.init();

        });

    </script>

}

