@model ShampanPOS.Models.PurchaseVM
@{
    ViewBag.Title = "Purchase Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    /* Tab Container */
    .tab-container {
        width: 433px;
        background: #fff;
        border-radius: 8px 8px 0 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* Tab List */
    .tab-list {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        background-color: #f8f8f8;
        border-radius: 8px 8px 0 0;
        border-bottom: 2px solid #ddd;
    }

    /* Tab Item */
    .tab-item {
        margin: 0;
    }

    /* Tab Link */
    .tab-link {
        display: inline-block;
        padding: 15px 40px;
        text-decoration: none;
        color: #777;
        font-weight: bold;
        text-align: center;
        transition: color 0.3s ease, background-color 0.3s ease;
        border-right: 1px solid #ddd;
        cursor: pointer;
        border-radius: 8px 8px 0 0;
    }

    /* Remove border for the last tab */
    .tab-item:last-child .tab-link {
        border-right: none;
    }

    /* Tab Hover Effect */
    .tab-link:hover {
        background-color: #e9e9e9;
        color: #333;
    }

    /* Active Tab */
    .tab-link.active {
        background-color: #e2f0f7;
        /*color: #ddd;*/
        border-bottom: 2px solid #1790D2;
    }

    /* Tab Content Wrapper */
    .tab-content-wrapper {
        padding: 20px;
        background-color: #fff;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    }

    /* Tab Content */
    .tab-content {
        display: none;
        text-align: center;
        color: #888;
        font-weight: 300;
        font-size: 15px;
        opacity: 0;
        transform: translateY(15px);
        animation: fadeIn 0.5s ease 1 forwards;
    }

        /* Show Active Tab Content */
        .tab-content.active {
            display: block;
        }
</style>


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Purchase Data List </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    @*<li class="breadcrumb-item"><a href="/DMS/Purchase/Index">Index</a></li>
                        <li class="breadcrumb-item active">Index</li>*@
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="accordion" id="filterAccordion">
        <div class="card">

            <div class="card-header p-2" id="filtersHeading">
                <div class="card card-primary">
                    <div class="card-header" id="responseTab">
                        <h3 class="card-title" data-bs-toggle="collapse" data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">Filters</h3>
                    </div>
                </div>
            </div>

            <div id="filtersCollapse" class="collapse" aria-labelledby="filtersHeading" data-bs-parent="#filterAccordion">
                <div class="card-body p-2">

                    @Html.HiddenFor(model => model.BranchId)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group row">
                        <div class="col-sm-4">
                            @Html.LabelFor(model => model.Branchs)
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Branchs, new { @class = "KDropDown form-control form-control-sm", @placeholder = "Select Branch...", @validationmessage = "*" })
                                @Html.ValidationMessageFor(model => model.Branchs)
                            </div>
                        </div>

                        <div class="col-sm-1">
                            @Html.LabelFor(model => model.IsPosted)
                            @Html.DropDownListFor(model => model.IsPosted, Enumerable.Empty<SelectListItem>(), new { @class = " form-control form-control-sm", @data_selected = Model.IsPosted })
                            @Html.ValidationMessageFor(model => model.IsPosted)
                        </div>

                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.FromDate)
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "  form-control form-control-sm dateRange" })
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.ToDate)
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "  form-control form-control-sm dateRange" })
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2" style="margin-top: 26px;">
                            <button type="button" id="indexSearch" class="btn btn-primary btn-sm">
                                Search
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header p-2">

            <button type="button" title="Add New" data-url="/DMS/Purchase/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>

            <button type="button" title="Post data" id="btnPost" class="button sslPost"> Post </button>

            <button type="button" title="Complete data" id="btnComplete" class="button sslComplete">
                Complete
            </button>

            <button type="button" title="" data-url="/DMS/Purchase/FromPurchaseOrder" onclick="GoTo(this)" class="button from">
                From Purchase Order
            </button>

            <button type="button" title="Download Excel" id="download" class="button NewButton sslExcel">Download Excel</button>

            <button style="float:right;" type="button" title="Add New"
                    data-url="/DMS/Purchase/DetailsIndex" onclick="GoTo(this)"
                    id="CreateGL" class="button NewButton btnDetails">
                &nbsp; Details
            </button>

        </div>
    </div>
</div>

@*Add*@
<div id="tabs">

    <ul class="tab-list">
        <li class="tab-item">
            <a href="#tabs-1" class="tab-link active" data-tab="1"> Index </a>
        </li>
        <li class="tab-item">
            <a href="#tabs-2" class="tab-link " data-tab="1"> Excel Import </a>
        </li>
    </ul>

    <div id="tabs-1">

        <div class="container-fluid">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">
                        List Of Data
                    </h3>
                </div>
                <div class="card-body">
                    <div id="GridDataList"></div>
                </div>
            </div>
        </div>

    </div>


</div>

@*End*@


@section scripts{
    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/DMS/js/Controllers/PurchaseController.js"></script>

    <script>
        $(document).ready(function () {

            $(function () {
                $("#tabs").tabs();
            });
            // Initialize tabs
            $(".tab-link").click(function (e) {
                e.preventDefault();
                var tabId = $(this).attr("href");

                // Remove active class from all tabs
                $(".tab-link").removeClass("active");
                $(".tab-content").removeClass("active");

                // Add active class to clicked tab
                $(this).addClass("active");
                $(tabId).addClass("active");
            });

            // Ensure the first tab is active by default
            $(".tab-link").first().trigger("click");


            PurchaseController.init();

            var message = '@(TempData["Message"])';
            if (message) {
                alert(message);
                window.close();
            }
        });

    </script>


}


