
@model ShampanPOS.Models.ProductReplaceIssueVM
@{
    ViewBag.Title = "Product Replace Issue Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var serial = 1;
}
<style>
    .auditshow {
        height: 39px;
        width: 37px;
        padding: 6px;
        border: 1px solid #d5bdbd;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        background: green;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Product Replace Issue Entry </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">

        @if (Model.IsPost)
        {
            <button type="button" class="button sslPush">Already Posted</button>

            <button style="float:right;" type="button" title="Add New" data-url="/DMS/ProductReplaceReceive/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>
        }
        else if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            @*<button type="button" class="button btnsave sslUpdate">Update</button>*@

            <button type="button" class="button btnPost sslPost">Post</button>

            <button type="button" style="display:none;" class="button sslPush">Already Posted</button>

            <button style="float:right;" type="button" title="Add New" data-url="/DMS/ProductReplaceIssue/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>
        }
        else
        {
            <div style="display:none;" class="divUpdate">
                @*<button type="button" class="button btnsave sslUpdate">Update</button>*@
                <button type="button" class="button btnPost sslPost">Post</button>
                <button type="button" style="display:none;" class="button sslPush">Already Posted</button>

                <button style="float:right;" type="button" title="Add New" data-url="/DMS/ProductReplaceIssue/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                    New
                </button>

            </div>
            <div class="divSave">
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            </div>
        }

    </div>
</div>

<div class="container-fluid">
    <form id="frmEntry">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Product Replace Issue Info </h3>
            </div>
            <div class="card-body">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Operation)
                @Html.HiddenFor(model => model.IsPost)
                @Html.HiddenFor(model => model.BranchId)


                <div class="form-group row">

                    <div class="col-sm-2 codeWidth">
                        @Html.LabelFor(model => model.Code)
                        <div style="display: flex; align-items: center;">
                            <span id="btnPrevious" class="fa fa-backward" style="color: darkseagreen;"></span>&nbsp;
                            @Html.TextBoxFor(model => model.Code, new { placeholder = "Code Auto Generate", @class = " csCode  form-control form-control-sm", @readonly = "readonly", @style = "width:140px;" }) &nbsp;
                            <span id="btnNext" class="fa fa-forward" style="color: darkseagreen;"></span>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.CustomerId)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.CustomerId, new { @class = "", @style = "width: 100%;" })
                        </div>
                        <span id="titleError2" class="text-danger" style="display:none;"></span>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.IssueDate)
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.IssueDate, new { @class = "  form-control form-control-sm dateRange" })
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Details </h3>
            </div>
            <div class="card-body">

                <button type="button" title="Add Details" id="addRows" class="btn btn-lg btn-success mb-2"><i class="fa fa-plus"></i></button>

                <div class="clearfix">&nbsp;</div>

                <div style="overflow-x: auto; white-space: nowrap;">
                    <table class="table table-bordered table-striped table-sm" id="details">
                        <thead>

                            <tr>
                                <th data-type="text" data-computed="true" data-required="false" style="width:5%;" data-name="SLNo">SL. No.</th>
                                <th hidden data-type="text" data-computed="true" data-required="false" style="width:20%;" data-name="ProductCode"> Product Code </th>
                                <th data-type="text" data-computed="true" data-search="true" data-required="true" style="width:60%;" data-name="ProductName"> Product </th>

                                <th hidden data-type="text" data-computed="true" data-search="false" style="width:5%;" data-name="ProductId"> ProductId </th>
                                <th data-type="text" data-computed="true" data-search="true" data-computed="false" data-required="true" style="width:10%;" data-name="UOMName"> UOM</th>

                                <th data-type="decimal"  style="width: 10%;" data-required="true" data-name="Quantity"> Total Qty </th>

                                @if (Model.ProductReplaceReceiveId > 0)
                                {
                                    <th data-type="text" data-search="false" data-required="false" data-computed="true" style="width:10%;" data-name="ReceiveCode"> Receive Code </th>
                                }

                                <th hidden data-type="text" style="width: 5%;" data-name="ProductReplaceReceiveId">ProductReplaceReceiveId</th>
                                <th hidden data-type="text" style="width: 5%;" data-name="ProductReplaceReceiveDetailId">ProductReplaceReceiveDetailId</th>

                            </tr>

                        </thead>
                        <tbody id="lst">
                            @if (Model != null)
                            {
                                foreach (var item in Model.ProductReplaceIssueDetails)
                                {
                                    <tr>
                                        <td> @serial </td>
                                        <td hidden> @item.ProductCode </td>
                                        <td> @item.ProductName </td>
                                        <td hidden> @item.ProductId </td>
                                        <td> @item.UOM </td>
                                        <td class="dFormat "> @item.Quantity </td>

                                        @if (item.ProductReplaceReceiveId > 0)
                                        {
                                            <td style="color:blue;cursor:pointer;" class="details-link" data-id="@item.ProductReplaceReceiveId"> @item.ReceiveCode </td>
                                        }
                                        <td hidden> @item.ProductReplaceReceiveId</td>
                                        <td hidden> @item.ProductReplaceReceiveDetailId</td>

                                        <td> <button class="btn btn-danger btn-sm remove-row-btn"><i class='fa fa-trash'></i></button> </td>

                                    </tr>

                                    { serial++; }
                                }
                            }


                        </tbody>

                    </table>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header p-2">

                <div class="card-body">
                    <div class="row">


                        <div class="col-md-3">
                            <div class="editor-label">
                                <label>&nbsp;Grand Total Quantity </label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBox("GrandTotalQuantity", 0, new { @placeholder = "Grand Total Quantity", @class = " dFormat trGrandTotalQuantity form-control form-control-sm   priceLen NumberCheck text-right", @readonly = "readonly" })
                            </div>
                        </div>



                    </div>


                </div>

            </div>
        </div>


        <div class="card" style="flex-direction: row; justify-content: space-between; align-items: center;">
            <div class="card-header p-2">

                @if (Model.IsPost)
                {

                    <button style="float: right; margin-right: 5px;" type="button" title="Add New" data-url="/DMS/ProductReplaceIssue/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                        New
                    </button>

                    <button type="button" class="button sslPush">Already Posted</button>
                }
                else if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
                {

                    <div style="display: flex; align-items: center; gap: 5px;">

                        @*<button style="float:left;" type="button" class="button btnsave sslUpdate">Update</button>*@
                        <button type="button" class="button btnPost sslPost">Post</button>
                        <button class="button sslPrintC " data-id="@Model.Id" style="float:right;">Print</button>
                        <button type="button" style="display:none;" class="button sslPush">Already Posted</button>

                    </div>


                }
                else
                {

                    <div style="display:none;" class="divUpdate">
                        @*<button type="button" class="button btnsave sslUpdate">Update</button>*@

                        <button type="button" class="button btnPost sslPost">Post</button>
                        <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
                    </div>
                    <div class="divSave">
                        <button class="button btnsave sslSave" type="button" id="">Save</button>
                    </div>

                }

            </div>
            <div class="auditshow"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div>
        </div>
    </form>


    <div class="card card-secondary auditcard">

        <div class="card-header">
            <h3 class="card-title">Audit Details</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        @Html.Label("Type")
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.Label("Created")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Updated")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Posted")
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Label("By")<br /><div class="clearfix">&nbsp;</div>
                            @Html.Label("On")<br /><div class="clearfix">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "CreatedBy  form-control form-control-sm ", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.CreatedOn, new { @class = "CreatedOn  form-control form-control-sm ", @readonly = "readonly" })
                        </div>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.LastModifiedBy, new { @class = "LastUpdateBy  form-control form-control-sm lub", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.LastModifiedOn, new { @class = "LastUpdateOn  form-control form-control-sm luo", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.PostedBy, new { @class = "PostedBy  form-control form-control-sm ", @readonly = "readonly" })<div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.PostedOn, new { @class = "PostedOn  form-control form-control-sm ", @readonly = "readonly" })

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>



@section scripts{
    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/DMS/js/Controllers/ProductReplaceIssueController.js"></script>

    <script>
        $(document).ready(function () {

            ProductReplaceIssueController.init();

        });

    </script>


}


