@using Newtonsoft.Json
@model ShampanPOS.Models.PurchaseReturnVM
@{
    ViewBag.Title = "Purchase Return Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var serial = 1;
}
<style>
    button[onclick*="reportLink"] {
        background: #138496;
        color: white;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        gap: 6px;
        transition: background 0.2s ease-in-out;
    }

        button[onclick*="reportLink"]:hover {
            background: #117a8b;
        }

        button[onclick*="reportLink"]:focus {
            outline: none;
        }

    .k-picker-wrap.k-state-default {
        width: 89% !important
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Purchase Return Data Entry </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Kendo Window Container -->


<div class="card">
    <div class="card-header p-2">

        @if (Model.IsPost)
        {
            <div style="display:flex; align-items:center; gap:5px;">

                <button type="button" class="button sslPush">Already Posted</button>

                <button type="button" style="margin-left:5px;"
                        onclick="document.getElementById('reportLink').click();">
                    <i class="k-icon k-i-print"></i> Print
                </button>

                <a id="reportLink"
                   href="/DMS/PurchaseReturn/getReport/@Model.Id"
                   style="display:none;">
                </a>

                <button style="margin-left:auto;"
                        type="button"
                        title="Add New"
                        data-url="/DMS/PurchaseReturn/Create"
                        onclick="GoTo(this)"
                        class="button NewButton addNewButton">
                    New
                </button>

            </div>
        }
        else if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <div style="display:flex; align-items:center; justify-content:space-between;">

                <!-- Left buttons -->
                <div style="display:flex; align-items:center; gap:5px;">

                    <button type="button" class="button btnsave sslUpdate">Update</button>

                    <button type="button" class="button btnPost sslPost" style="margin-left:5px;">Post</button>

                    <button type="button" style="display:none;" class="button sslPush">Already Posted</button>

                    <button type="button" style="margin-left:5px;"
                            onclick="document.getElementById('reportLink').click();">
                        <i class="k-icon k-i-print"></i> Print
                    </button>
                </div>

                <!-- ✅ Only this goes right -->
                <button style="margin-left:auto;"
                        type="button"
                        title="Add New"
                        data-url="/DMS/PurchaseReturn/Create"
                        onclick="GoTo(this)"
                        class="button NewButton addNewButton">
                    New
                </button>

            </div>
            <a id="reportLink"
               href="/DMS/PurchaseReturn/getReport/@Model.Id"
               style="display:none;">
            </a>

        }
        else
        {
            <div style="display:none;" class="divUpdate">

                <div style="display:flex; align-items:center; justify-content:space-between; width:100%;">

                    <div style="display:flex; align-items:center; gap:5px;">
                        <button type="button" class="button btnsave sslUpdate">Update</button>

                        <button type="button" class="button btnPost sslPost">Post</button>

                        <button type="button" style="display:none;" class="button sslPush">Already Posted</button>


                        <button type="button" onclick="document.getElementById('reportLink').click();">
                            <i class="k-icon k-i-print"></i> Print
                        </button>

                    </div>

                    <!-- RIGHT SIDE -->
                    <button type="button"
                            title="Add New"
                            data-url="/DMS/PurchaseReturn/Create"
                            onclick="GoTo(this)"
                            class="button NewButton addNewButton">
                        New
                    </button>

                </div>

            <a id="reportLink"
               href="/DMS/PurchaseOrder/getReport/@Model.Id"
               style="display:none;">
            </a>
        </div>

            <div class="divSave">
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            </div>
        }

    </div>
        </div>


<div class="container-fluid">
    <form id="frmEntry">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Purchase Return Info </h3>
            </div>
            <div class="card-body">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Operation)
                @Html.HiddenFor(model => model.DecimalPlace)
                @Html.HiddenFor(model => model.IsPost)
                @*@Html.HiddenFor(model => model.UOMId)*@
                @Html.HiddenFor(model => model.BranchId)
                @Html.HiddenFor(model => model.TransactionType)
                @Html.HiddenFor(model => model.PurchaseId)
                @*@Html.HiddenFor(model => model.FromDate)*@

                @Html.Hidden("SaleOrderDetailsJson", JsonConvert.SerializeObject(Model.purchaseReturnDetailList ?? new List<ShampanPOS.Models.PurchaseReturnDetailVM>()))
                <div class="form-group row">

                    <div class="col-sm-2 codeWidth">
                        @Html.LabelFor(model => model.Code)
                        <div style="display: flex; align-items: center;">
                            <span id="btnPrevious" class="fa fa-backward" style="color: darkseagreen;"></span>&nbsp;
                            @Html.TextBoxFor(model => model.Code, new { placeholder = "Code Auto Generate", @class = " csCode  form-control form-control-sm", @readonly = "readonly", @style = "width:140px;" }) &nbsp;
                            <span id="btnNext" class="fa fa-forward" style="color: darkseagreen;"></span>
                        </div>
                    </div>

                    @*<div class="col-sm-2">
            @Html.LabelFor(model => model.PurchaseDate)
            <div class="input-group date">
                @Html.TextBoxFor(model => model.PurchaseDate, new { @class = "  form-control form-control-sm dateRange" })
                <div class="input-group-append">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            @Html.LabelFor(model => model.InvoiceDateTime)
            <div class="input-group date">
                @Html.TextBoxFor(model => model.InvoiceDateTime, new { @class = "  form-control form-control-sm dateRange" })
                <div class="input-group-append">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                </div>
            </div>
        </div>*@


                    <div class="col-sm-2 pr-3">
                        @Html.LabelFor(model => model.PurchaseDate)

                        @Html.TextBoxFor(model => model.PurchaseDate, new
                        {
                            @class = "form-control form-control-sm kendoPurchaseDate",
                            style = "width:100%"
                        })
                    </div>

                    <div class="col-sm-2 mr-4">
                        @Html.LabelFor(model => model.InvoiceDateTime)

                        @Html.TextBoxFor(model => model.InvoiceDateTime, new
                        {
                            @class = "form-control form-control-sm kendoInvoiceDateTime",
                            style = "width:100%"
                        })
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.SupplierId)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.SupplierId, new { @class = " required form-control form-control-sm ", @style = "width: 100%;" })
                        </div>
                        <span id="titleError2" class="text-danger" style="display:none;"></span>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.BENumber)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.BENumber, new { placeholder = "Enter Challan Number", @class = "required form-control form-control-sm" })
                        </div>
                        <span id="titleError1" class="text-danger" style="display:none;"></span>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Comments)
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.Comments, new { placeholder = "Enter Comment", @class = "form-control form-control-sm" })
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Sale Order Details </h3>
            </div>
            <div class="card-body">
                <div id="saleOrderDetails"></div>
            </div>
        </div>

    </form>

    <div id="saleDetailsWindow" style="display:none;">
        <div id="saleDetailsGrid"></div>
    </div>

    <div class="card" style="flex-direction: row; justify-content: space-between; align-items: center;">
        <div class="card-header p-2">

            @if (Model.IsPost)
            {
                <div style="display:flex; align-items:center;">
                    <button type="button" class="button sslPush">Already Posted</button>
                    @*<button style="margin-left:5px;"
                            type="button"
                            title="Add New"
                            data-url="/DMS/PurchaseReturn/Create"
                            onclick="GoTo(this)"
                            class="button NewButton addNewButton">
                        New
                    </button>*@

                    <button type="button" style="margin-left:5px;" onclick="document.getElementById('reportLink').click();">
                        <i class="k-icon k-i-print"></i> Print
                    </button>

                    <a id="reportLink"
                       href="/DMS/PurchaseReturn/getReport/@Model.Id"
                       style="display:none;">
                    </a>

                </div>
            }
            else if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            {
        <div style="display: flex; align-items: center; gap: 5px;">
            <button type="button" class="button btnsave sslUpdate">Update</button>

            <button type="button" class="button btnPost sslPost">Post</button>
            @*<button class="button sslPrintC " data-id="@Model.Id" style="float:right;">Print</button>*@
            <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
            <button type="button" onclick="document.getElementById('reportLink').click();">
                <i class="k-icon k-i-print"></i> Print
            </button>

            <a id="reportLink"
               href="/DMS/PurchaseReturn/getReport/@Model.Id"
               style="display:none;">
            </a>

        </div>
            }
            else
            {
        <div style="display:none;" class="divUpdate">
            <div style="display:flex; align-items:center; gap:5px;">
                <button type="button" class="button btnsave sslUpdate">Update</button>
                <button type="button" class="button btnPost sslPost">Post</button>
                <button type="button" style="display:none;" class="button sslPush">Already Posted</button>

                <button type="button" onclick="document.getElementById('reportLink').click();">
                    <i class="k-icon k-i-print"></i> Print
                </button>

                <a id="reportLink"
                   href="/DMS/PurchaseReturn/getReport/@Model.Id"
                   style="display:none;">
                </a>
            </div>
            </div>
            <div class="divSave">
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            </div>
            }

        </div>
        <div class="auditshow"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div>
    </div>

    <div class="card card-secondary auditcard">

        <div class="card-header">
            <h3 class="card-title">Audit Details</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        @Html.Label("Type")
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.Label("Created")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Updated")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Posted")
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Label("By")<br /><div class="clearfix">&nbsp;</div>
                            @Html.Label("On")<br /><div class="clearfix">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "CreatedBy  form-control form-control-sm ", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.CreatedOn, new { @class = "CreatedOn  form-control form-control-sm ", @readonly = "readonly" })
                        </div>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.LastModifiedBy, new { @class = "LastUpdateBy  form-control form-control-sm lub", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.LastModifiedOn, new { @class = "LastUpdateOn  form-control form-control-sm luo", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.PostedBy, new { @class = "PostedBy  form-control form-control-sm ", @readonly = "readonly" })<div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.PostedOn, new { @class = "PostedOn  form-control form-control-sm ", @readonly = "readonly" })

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>



@section scripts{
    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/DMS/js/Controllers/PurchaseReturnController.js"></script>
    <script src="~/Areas/Common/js/Services/CommonValidationHelper.js"></script>

    <script>

        $(document).ready(function () {

            PurchaseReturnController.init();

        });

    </script>

}

