
@model ShampanPOS.Models.PurchaseReturnReportVM
@{
    ViewBag.Title = "Purchase Return Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Purchase Return Report </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="accordion" id="reportFilterAccordion">
        <div class="card">

            <div class="card-body p-2">

                <div class="form-group row">

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.SupplierId)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.SupplierId,
                                new { @class = "required form-control form-control-sm", @style = "width: 100%;" })
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.PurchaseFromDate)
                        <div class="d-flex align-items-center">
                            @Html.TextBoxFor(model => model.PurchaseFromDate,
                                new { @class = "form-control form-control-sm kendoDatePicker", @id = "PurchaseFromDate" })
                            <input type="checkbox" id="chkPurchaseFromDate" style="margin-left:6px;" />
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.PurchaseToDate)
                        <div class="d-flex align-items-center">
                            @Html.TextBoxFor(model => model.PurchaseToDate,
                                new { @class = "form-control form-control-sm kendoDatePicker", @id = "PurchaseToDate" })
                            <input type="checkbox" id="chkPurchaseToDate" style="margin-left:6px;" />
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.InvoiceFromDate)
                        <div class="d-flex align-items-center">
                            @Html.TextBoxFor(model => model.InvoiceFromDate,
                                new { @class = "form-control form-control-sm kendoDatePicker", @id = "InvoiceFromDate" })
                            <input type="checkbox" id="chkInvoiceFromDate" style="margin-left:6px;" />
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.InvoiceToDate)
                        <div class="d-flex align-items-center">
                            @Html.TextBoxFor(model => model.InvoiceToDate,
                                new { @class = "form-control form-control-sm kendoDatePicker", @id = "InvoiceToDate" })
                            <input type="checkbox" id="chkInvoiceToDate" style="margin-left:6px;" />
                        </div>
                    </div>

                </div>


                <div class="form-group row">

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.ReportType)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.ReportType,
                                new { placeholder = "Enter Report Type", @class = "form-control form-control-sm" })
                        </div>
                    </div>

                    <div class="col-sm-2 d-flex flex-column">
                        <label for="IsSummary">Summary</label>

                        <div class="Onoffbtn">
                            <input type="hidden" name="IsSummary" value="false" />

                            <input id="IsSummary"
                                   name="IsSummary"
                                   type="checkbox"
                                   value="true"
                                   @(Model.IsSummary ? "checked=\"checked\"" : "")
                                   data-bootstrap-switch
                                   data-off-color="danger"
                                   data-on-color="success"
                                   data-on-text="True"
                                   data-off-text="False" />
                        </div>
                    </div>

                    <div class="col-sm-2 d-flex align-items-end">
                        <button type="button"
                                class="btn btn-success btn-sm"
                                onclick="PrintPurchaseReport()">
                            <i class="fas fa-print"></i> Print
                        </button>
                    </div>



                </div>

            </div>

        </div>
    </div>
</div>

@section scripts{

    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
}

<script>

    var getSupplierId = 0;

    $(document).ready(function () {

        getSupplierId = $("#SupplierId").val() || 0;
        $("[data-bootstrap-switch]").bootstrapSwitch();

        GetSupplierComboBox();
        GetReportTypeComboBox()
        // Kendo DatePickers
        $("#PurchaseFromDate").kendoDatePicker();
        $("#PurchaseToDate").kendoDatePicker();
        $("#InvoiceFromDate").kendoDatePicker();
        $("#InvoiceToDate").kendoDatePicker();

        var currentDate = new Date();

        $("#PurchaseFromDate").data("kendoDatePicker").value(currentDate);
        $("#PurchaseToDate").data("kendoDatePicker").value(currentDate);
        $("#InvoiceFromDate").data("kendoDatePicker").value(currentDate);
        $("#InvoiceToDate").data("kendoDatePicker").value(currentDate);
    });



    function GetSupplierComboBox() {

        $("#SupplierId").kendoMultiColumnComboBox({
            dataTextField: "Name",
            dataValueField: "Id",
            height: 400,
            columns: [
                { field: "Code", title: "Code", width: 100 },
                { field: "Name", title: "Name", width: 150 }
            ],
            filter: "contains",
            filterFields: ["Code", "Name"],
            dataSource: {
                transport: {
                    read: "/Common/Common/GetSupplierList"
                }
            },
            placeholder: "Select Supplier",

            dataBound: function () {
                if (getSupplierId) {
                    this.value(parseInt(getSupplierId));
                }
            }
        });
    }



    //function GetReportTypeComboBox() {

    //    $("#ReportType").kendoMultiColumnComboBox({
    //        dataTextField: "Name",
    //        dataValueField: "Id",
    //        height: 400,

    //        columns: [
    //            { field: "Name", title: "Name", width: 200 }
    //        ],

    //        filter: "contains",
    //        filterFields: ["Name"],

    //        dataSource: {
    //            transport: {
    //                read: "/Common/Common/GetReportTypeList"
    //            },
    //            schema: {
    //                data: function (response) {

    //                    return response.filter(function (item) {
    //                        return item.Name !== "Customer Wise";
    //                    });

    //                }
    //            }
    //        },

    //        placeholder: "Select Report Type",

    //        dataBound: function () {
    //            if (getReportTypeId && getReportTypeId !== "0") {
    //                this.value(getReportTypeId);
    //            }
    //        },

    //        change: function () {
    //            $("#ReportType").val(this.value());
    //        }

    //    });
    //}


    function GetReportTypeComboBox() {

        $("#ReportType").kendoMultiColumnComboBox({
            dataTextField: "Name",
            dataValueField: "Id",
            height: 400,

            columns: [
                { field: "Name", title: "Report Type", width: 200 }
            ],

            filter: "contains",
            filterFields: ["Name"],

            dataSource: {
                transport: {
                    read: {
                        url: "/Common/Common/GetReportTypeList",
                        dataType: "json",
                        data: function () {
                            return {
                                Value: "PurchaseReturnReportType"   // ✅ IMPORTANT FIX
                            };
                        }
                    }
                }
            },

            placeholder: "Select Report Type",
            value: "",

            dataBound: function () {

                if (typeof getReportTypeId !== "undefined" &&
                    getReportTypeId &&
                    getReportTypeId !== "0") {

                    this.value(getReportTypeId);
                }
                else {
                    this.value("");
                }
            },

            change: function () {

                var selected = this.dataItem();

                // ✅ store proper value
                if (selected) {
                    $("#ReportType").val(selected.Name);
                }
            }
        });
    }




    function PrintPurchaseReport() {

        var supplierId = $("#SupplierId").data("kendoMultiColumnComboBox").value();
        var reportType = $("#ReportType").data("kendoMultiColumnComboBox").value();
        var combo = $("#SupplierId").data("kendoMultiColumnComboBox");
        var supplierName = combo ? combo.text() : "";
        var isSummary = $("#IsSummary").is(":checked");


        supplierId = supplierId || 0;
        reportType = reportType || 0;

        var fromDate = "";
        var toDate = "";
        var invoiceFromDate = "";
        var invoiceToDate = "";

        if ($("#chkPurchaseFromDate").is(":checked")) {
            fromDate = $("#PurchaseFromDate").val();
        }

        if ($("#chkPurchaseToDate").is(":checked")) {
            toDate = $("#PurchaseToDate").val();
        }

        if ($("#chkInvoiceFromDate").is(":checked")) {
            invoiceFromDate = $("#InvoiceFromDate").val();
        }

        if ($("#chkInvoiceToDate").is(":checked")) {
            invoiceToDate = $("#InvoiceToDate").val();
        }

      var url = '@Url.Action("PurchaseReturnListReport", "PurchaseReturn", new { area = "DMS" })'
    + '?supplierId=' + supplierId
    + '&fromDate=' + fromDate
    + '&toDate=' + toDate
    + '&invoiceFromDate=' + invoiceFromDate
    + '&invoiceToDate=' + invoiceToDate
    + '&reportType=' + reportType
    + '&isSummary=' + isSummary;

        window.open(url, "_blank");
    }


    $("#chkPurchaseFromDate").change(function () {
        $("#PurchaseFromDate").prop("disabled", !this.checked);
    });

    $("#chkPurchaseToDate").change(function () {
        $("#PurchaseToDate").prop("disabled", !this.checked);
    });

    $("#chkInvoiceFromDate").change(function () {
        $("#InvoiceFromDate").prop("disabled", !this.checked);
    });

    $("#chkInvoiceToDate").change(function () {
        $("#InvoiceToDate").prop("disabled", !this.checked);
    });





</script>

