@using Newtonsoft.Json
@model ShampanPOS.Models.SaleVM
@{
    ViewBag.Title = "Sale Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var serial = 1;
}

<style>
    .k-dropdown-wrap .k-input {
        line-height: 1.6em !important;
    }

    .button.secondary {
        background-color: #adb5bd;
        color: #212529;
        border: 1px solid #adb5bd;
    }

    .dFormat {
        text-align: right;
    }

    button[onclick*="reportLink"] {
        background: #138496;
        color: white;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        gap: 6px;
        transition: background 0.2s ease-in-out;
    }

        button[onclick*="reportLink"]:hover {
            background: #117a8b;
        }

        button[onclick*="reportLink"]:focus {
            outline: none;
        }
    .button {
        float: none !important;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Sale  Entry </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card" style="flex-direction: row; justify-content: space-between; align-items: center;">
    <div class="card-header p-2" style="display: flex; align-items: center; gap: 5px;">

        @if (Model.IsPost)
        {
            <div style="display:flex; justify-content:space-between; align-items:center; width:100%;">

                <!-- Left side -->
                <div style="display:flex; gap:5px; align-items:center;">

                    <button type="button" class="button sslPush">
                        Already Posted
                    </button>

                    <button type="button" onclick="document.getElementById('reportLink').click();">
                        <i class="k-icon k-i-print"></i>
                        <span style="margin-left:4px;">Print</span>
                    </button>

                </div>

            </div>

            <a id="reportLink"
               href="/DMS/Sale/getReport/@Model.Id"
               style="display:none;">
            </a>
        }

        else if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <div style="display:flex; align-items:center; gap:5px;">

                <button type="button" class="button btnsave sslUpdate">Update</button>

                <button type="button" class="button btnPost sslPost">Post</button>

                <button type="button" onclick="document.getElementById('reportLink').click();">
                    <i class="k-icon k-i-print"></i> Print
                </button>

            </div>

            <a id="reportLink"
               href="/DMS/Sale/getReport/@Model.Id"
               style="display:none;">
            </a>

            <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
        }
        else
        {
            <div style="display:none;" class="divUpdate">
                <button type="button" class="button btnsave sslUpdate">Update</button>
                <button type="button" class="button btnPost sslPost">Post</button>
                <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
            </div>
            <div class="divSave">
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            </div>


        }

    </div>
    <div class="auditshow"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div>
</div>



<div class="container-fluid">
    <form id="frmEntry">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Sale  Info </h3>
            </div>
            <div class="card-body">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Operation)
                @Html.HiddenFor(model => model.DecimalPlace)

                @Html.HiddenFor(model => model.IsPost)
                @Html.HiddenFor(model => model.BranchId)
                @Html.HiddenFor(model => model.TransactionType)
                @Html.HiddenFor(model => model.IsManualSale)


                @Html.Hidden("SaleDetailsJson", JsonConvert.SerializeObject(Model.saleDetailsList ?? new List<ShampanPOS.Models.SaleDetailVM>()))
                @Html.Hidden("CardDetailsJson", JsonConvert.SerializeObject(Model.SaleCreditCardList ?? new List<ShampanPOS.Models.SaleCreditCardVM>()))


                <div class="form-group row">

                    <div class="col-sm-2 codeWidth">
                        @Html.LabelFor(model => model.Code)
                        <div style="display: flex; align-items: center;">
                            <span id="btnPrevious" class="fa fa-backward" style="color: darkseagreen;"></span>&nbsp;
                            @Html.TextBoxFor(model => model.Code, new { @class = " csCode  form-control form-control-sm", @readonly = "readonly", @style = "width:140px;" }) &nbsp;
                            <span id="btnNext" class="fa fa-forward" style="color: darkseagreen;"></span>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.CustomerId)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.CustomerId, new { placeholder = " Enter Customer Id", @class = " required form-control form-control-sm " })
                        </div>
                        <span id="titleError1" class="text-danger" style="display:none;"></span>
                    </div>

                    <div class="col-sm-2" style="display:none">
                        @Html.LabelFor(model => model.SaleOrderId)
                        <div class="input-group">
                            @*<input type="text" id="PurchaseOrderCode" class="form-control form-control-sm" readonly />*@
                            @Html.TextBoxFor(model => model.SaleOrderId, new { @class = "form-control form-control-sm" })
                        </div>
                    </div>


                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.SaleOrderCode)
                        <div class="input-group">

                            @Html.TextBoxFor(model => model.SaleOrderCode, new
                            {
                                @class = "form-control form-control-sm",
                                @readonly = "readonly"   // ✅ only textbox readonly
                            })

                            <div class="input-group-append">
                                <button type="button"
                                        class="btn btn-outline-primary btn-sm"
                                        id="btnSearchPurchaseOrder">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>

                        </div>
                    </div>




                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.InvoiceDateTime)
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.InvoiceDateTime, new
                            {
                                @class = "  form-control form-control-sm dateRange"@*, @readonly = "readonly"*@})
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.DeliveryAddress)
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.DeliveryAddress, new
                            {
                                @class = "form-control form-control-sm"@*, @readonly = "readonly"*@})
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Comments)
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.Comments, new
                            {
                                @class = "form-control form-control-sm"@*, @readonly = "readonly"*@})
                        </div>
                    </div>

                </div>



            </div>
        </div>

        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Sales Details </h3>
            </div>
            <div class="card-body">
                <div id="saleDetails"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"> Payment Details </h3>
                    </div>
                    <div class="card-body">
                        <div id="cardDetails"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">

                    <div class="card-header">
                        <h3 class="card-title">Charges</h3>
                    </div>
                    <div class="card-body">
                        <!-- Header Row -->
                        <div class="row font-weight-bold mb-2">
                            <div class="col-md-3"></div> <!-- Empty space for labels -->
                            <div class="col-sm-2 text-center">Sub-Total</div>
                            <div class="col-sm-2 text-center">SD</div>
                            <div class="col-sm-2 text-center">VAT</div>
                            <div class="col-md-3 text-center">Total</div>
                        </div>



                        <!-- Sub Total -->
                        <div class="row mb-2">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.SubTotal)
                            </div>
                            <div class="col-sm-2">
                                <input id="subTotalSubtotal" class="form-control form-control-sm custom-font-size" readonly style="text-align:right;" />
                            </div>
                            <div class="col-sm-2">
                                <input id="subTotalSD" class="form-control form-control-sm custom-font-size" readonly style="text-align:right;" />
                            </div>
                            <div class="col-sm-2">
                                <input id="subTotalVAT" class="form-control form-control-sm custom-font-size" readonly style="text-align:right;" />
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.SubTotal, new { @class = "form-control form-control-sm custom-font-size", @readonly = "readonly", style = "text-align:right;" })
                            </div>
                        </div>

                        <!-- Round Up -->
                        <div class="row mb-2">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.RoundUp)
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.RoundUp, new { @class = "form-control form-control-sm custom-font-size", @readonly = "readonly", style = "text-align:right;" })
                            </div>
                        </div>

                        <!-- Final Payable -->
                        <div class="row mb-2">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.FinalPayable)
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.FinalPayable, new { @class = "form-control form-control-sm custom-font-size", @readonly = "readonly", style = "text-align:right;" })
                            </div>
                        </div>

                        <!-- Payment -->
                        <div class="row mb-2">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Payment)
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.Payment, new { @class = "form-control form-control-sm custom-font-size", @readonly = "readonly", style = "text-align:right;" })
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Dues)
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.Dues, new { @class = "form-control form-control-sm custom-font-size", @readonly = "readonly", style = "text-align:right;" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>


    <div id="saleDetailsWindow" style="display:none;">
        <div id="saleDetailsGrid"></div>
    </div>
    <div id="cardDetailsWindow" style="display:none;">
        <div id="cardDetailsGrid"></div>
    </div>
    <div id="itemsWindow" style="display:none;">
        <div id="itemsGrid"></div>
    </div>


    <div class="card" style="flex-direction: row; justify-content: space-between; align-items: center;">
        <div class="card-header p-2" style="display: flex; align-items: center; gap: 5px;">

            @if (Model.IsPost)
            {
                <div style="display:flex; align-items:center;">
                    <button type="button" class="button sslPush">Already Posted</button>


                    <button type="button" style="margin-left:5px;" onclick="document.getElementById('reportLink').click();">
                        <i class="k-icon k-i-print"></i> Print
                    </button>

                    <a id="reportLink"
                       href="/DMS/Sale/getReport/@Model.Id"
                       style="display:none;">
                    </a>
                </div>
            }
            else if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            {
                <div style="display:flex; align-items:center; gap:5px;">

                    <button type="button" class="button btnsave sslUpdate">Update</button>

                    <button type="button" class="button btnPost sslPost">Post</button>

                    <button type="button" onclick="document.getElementById('reportLink').click();">
                        <i class="k-icon k-i-print"></i> Print
                    </button>

                </div>

                <a id="reportLink"
                   href="/DMS/Sale/getReport/@Model.Id"
                   style="display:none;">
                </a>

                <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
            }
            else
            {
                <div style="display:none;" class="divUpdate">
                    <button type="button" class="button btnsave sslUpdate">Update</button>
                    <button type="button" class="button btnPost sslPost">Post</button>
                    <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
                </div>
                <div class="divSave">
                    <button class="button btnsave sslSave" type="button" id="">Save</button>
                </div>


            }

        </div>
        <div class="auditshow"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div>
    </div>
    <div class="card card-secondary auditcard">

        <div class="card-header">
            <h3 class="card-title">Audit Details</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        @Html.Label("Type")
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.Label("Created")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Updated")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Posted")
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Label("By")<br /><div class="clearfix">&nbsp;</div>
                            @Html.Label("On")<br /><div class="clearfix">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "CreatedBy  form-control form-control-sm ", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.CreatedOn, new { @class = "CreatedOn  form-control form-control-sm ", @readonly = "readonly" })
                        </div>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.LastModifiedBy, new { @class = "LastUpdateBy  form-control form-control-sm lub", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.LastModifiedOn, new { @class = "LastUpdateOn  form-control form-control-sm luo", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.PostedBy, new { @class = "PostedBy  form-control form-control-sm ", @readonly = "readonly" })<div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.PostedOn, new { @class = "PostedOn  form-control form-control-sm ", @readonly = "readonly" })

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<div id="poWindow" style="display:none;">
    <div id="windowGrid"></div>
</div>

@section scripts{
    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/DMS/js/Controllers/SaleController.js"></script>
    <script src="~/Areas/Common/js/Services/CommonValidationHelper.js"></script>

    <script>
        $(document).ready(function () {

            SaleController.init();
        });

    </script>


}

