@using Newtonsoft.Json
@model ShampanPOS.Models.SaleVM
@{
    ViewBag.Title = "Product Card Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var serial = 1;
}

<style>
    .k-dropdown-wrap .k-input {
        line-height: 1.6em !important;
    }

    .button.secondary {
        background-color: #adb5bd;
        color: #212529;
        border: 1px solid #adb5bd;
    }

    .dFormat {
        text-align: right;
    }

    button[onclick*="reportLink"] {
        background: #138496;
        color: white;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        gap: 6px;
        transition: background 0.2s ease-in-out;
    }

        button[onclick*="reportLink"]:hover {
            background: #117a8b;
        }

        button[onclick*="reportLink"]:focus {
            outline: none;
        }

    .button {
        float: none !important;
    }

    #productCardContainer .card {
        transition: 0.2s;
    }

        #productCardContainer .card:hover {
            transform: scale(1.02);
        }
    /*new style*/
    #productCardModal {
        background: #f2f4f8;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;
    }


    .product-card {
        background: #fff;
        border-radius: 5px;
        padding: 12px;
        transition: 0.3s;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        min-height: 260px;
    }

        .product-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        }


    .product-img {
        height: 120px;
        background: #f7f7f7;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        cursor: pointer
    }

        .product-img img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }


    .product-info {
        text-align: center;
        flex-grow: 1;
    }


    .product-title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden
    }


    .product-meta {
        font-size: 14px;
        color: #777;
        display: flex;
        justify-content: space-between;
    }

        .product-meta .price {
            color: #28a745;
            font-weight: bold;
        }


    .qty-modern {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        overflow: hidden;
        margin: 10px auto;
        border: 1px solid #ddd;
        width: 80%;
    }


    .qty-side {
        width: 25px;
        height: 25px;
        border: none;
        background: #fff;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;
        border-right: 1px solid #ddd;
    }

    .qty-minus {
        border-right: 1px solid #ddd;
    }

    .qty-plus {
        border-left: 1px solid #ddd;
    }

    .qty-side:hover {
        background: #d5d5d5;
    }


    .qty-center {
        flex: 1;
        text-align: center;
        height: 25px;
    }


        .qty-center input {
            width: 100%;
            border: none;
            background: transparent;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            outline: none;
        }


        .qty-center span {
            display: block;
            font-size: 11px;
            color: #777;
        }

    .add-btn {
        margin-top: auto;
        border-radius: 3px !important;
        transition: 0.3s;
    }

        .add-btn:hover {
            transform: scale(1.05);
        }

    .tooltipMain {
        position: relative;
        cursor: pointer;
    }


    .tooltip-text {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 120%;
        left: 50%;
        transform: translateX(-50%);
        background: #333;
        color: #fff;
        padding: 6px 10px;
        border-radius: 6px;
        font-size: 12px;
        white-space: nowrap;
        max-width: 100%;
        white-space: normal;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        width: max-content;
    }


        .tooltip-text::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 5px;
            border-style: solid;
            border-color: #333 transparent transparent transparent;
        }


    .tooltipMain:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }


    .img-modal {
        display: none;
        position: fixed;
        z-index: 999999999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
        justify-content: center;
        align-items: center;
    }

        .img-modal img {
            max-width: 80%;
            max-height: 80%;
            border-radius: 10px;
            box-shadow: 0 10px 40px rgba(0,0,0,0.5);
            transform: scale(0.9);
            animation: zoomIn 0.2s ease forwards;
        }

    @@keyframes zoomIn {
        to {
            transform: scale(1);
        }
    }

    .close-modal {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 35px;
        color: white;
        cursor: pointer;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> POS </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">


        @if (Model.IsPost)
        {
            <div style="display:flex; align-items:center; justify-content:space-between;">

                <!-- LEFT SIDE -->
                <div style="display:flex; align-items:center; gap:5px;">

                    <button type="button" class="button sslPush">Already Posted</button>

                    <button type="button" onclick="document.getElementById('reportLink').click();">
                        <i class="k-icon k-i-print"></i> Print
                    </button>

                    <a id="reportLink"
                       href="/DMS/Sale/getReport/@Model.Id"
                       style="display:none;">
                    </a>


                </div>

                <!-- RIGHT SIDE -->
                <button type="button"
                        title="Add New"
                        data-url="/DMS/Sale/Create"
                        onclick="GoTo(this)"
                        class="button NewButton addNewButton">
                    New
                </button>

            </div>
        }



        else if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <div style="display:flex; align-items:center; justify-content:space-between;">

                <!-- LEFT SIDE -->
                <div style="display:flex; align-items:center; gap:5px;">

                    <button type="button" class="button btnsave sslUpdate">Update</button>

                    <button type="button" class="button btnPost sslPost">Post</button>

                    <button type="button" onclick="document.getElementById('reportLink').click();">
                        <i class="k-icon k-i-print"></i> Print
                    </button>

                    <button type="button" style="display:none;" class="button sslPush">Already Posted</button>

                    <a id="reportLink"
                       href="/DMS/Sale/getReport/@Model.Id"
                       style="display:none;">
                    </a>

                </div>

                <!-- RIGHT SIDE -->
                <button type="button"
                        title="Add New"
                        data-url="/DMS/Sale/Create"
                        onclick="GoTo(this)"
                        class="button NewButton addNewButton">
                    New
                </button>

            </div>



        }
        else
        {

            <div style="display:none;" class="divUpdate">

                <button type="button" class="button btnsave sslUpdate">Update</button>

                <button type="button" class="button btnPost sslPost">Post</button>
                <button type="button" style="display:none;" class="button sslPush">Already Posted</button>

                <button style="float:right;" type="button" title="Add New" data-url="/DMS/Sale/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                    New
                </button>

            </div>

            <div class="divSave">
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            </div>
        }

    </div>
</div>



<div class="container-fluid">
    <form id="frmEntry">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Sale  Info </h3>
            </div>
            <div class="card-body">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Operation)
                @Html.HiddenFor(model => model.DecimalPlace)

                @Html.HiddenFor(model => model.IsPost)
                @Html.HiddenFor(model => model.BranchId)
                @Html.HiddenFor(model => model.TransactionType)
                @Html.HiddenFor(model => model.IsManualSale)


                @Html.Hidden("SaleDetailsJson", JsonConvert.SerializeObject(Model.saleDetailsList ?? new List<ShampanPOS.Models.SaleDetailVM>()))
                @Html.Hidden("CardDetailsJson", JsonConvert.SerializeObject(Model.SaleCreditCardList ?? new List<ShampanPOS.Models.SaleCreditCardVM>()))


                <div class="form-group row">

                    <div class="col-sm-2 codeWidth">
                        @Html.LabelFor(model => model.Code)
                        <div style="display: flex; align-items: center;">
                            <span id="btnPrevious" class="fa fa-backward" style="color: darkseagreen;"></span>&nbsp;
                            @Html.TextBoxFor(model => model.Code, new { @class = " csCode  form-control form-control-sm", @readonly = "readonly", @style = "width:140px;" }) &nbsp;
                            <span id="btnNext" class="fa fa-forward" style="color: darkseagreen;"></span>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.CustomerId)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.CustomerId, new { placeholder = " Enter Customer Id", @class = " required form-control form-control-sm " })
                        </div>
                        <span id="titleError1" class="text-danger" style="display:none;"></span>
                    </div>

                    <div class="col-sm-2" style="display:none">
                        @Html.LabelFor(model => model.SaleOrderId)
                        <div class="input-group">
                            @*<input type="text" id="PurchaseOrderCode" class="form-control form-control-sm" readonly />*@
                            @Html.TextBoxFor(model => model.SaleOrderId, new { @class = "form-control form-control-sm" })
                        </div>
                    </div>


                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.SaleOrderCode)
                        <div class="input-group">

                            @Html.TextBoxFor(model => model.SaleOrderCode, new
                            {
                                @class = "form-control form-control-sm",
                                @readonly = "readonly"   // ✅ only textbox readonly
                            })

                            <div class="input-group-append">
                                <button type="button"
                                        class="btn btn-outline-primary btn-sm"
                                        id="btnSearchPurchaseOrder">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>

                        </div>
                    </div>




                    <div class="col-sm-2 mr-4">
                        @Html.LabelFor(model => model.InvoiceDateTime)

                        @Html.TextBoxFor(model => model.InvoiceDateTime, new
                   {
                       @class = "kendoInvoiceDateTime",
                       style = "width:95%; height:2em;"
                   })
                    </div>


                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.DeliveryAddress)
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.DeliveryAddress, new
                            {
                                @class = "form-control form-control-sm"@*, @readonly = "readonly"*@})
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Comments)
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.Comments, new
                            {
                                @class = "form-control form-control-sm"@*, @readonly = "readonly"*@})
                        </div>
                    </div>

                </div>



            </div>
        </div>

        <!--<div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Product Details </h3>
            </div>

            <div class="card-body">

                <div class="row mt-3 align-items-end">-->
        <!-- Product Group -->
        <!--<div class="col-sm-3">
            @Html.LabelFor(model => model.ProductGroupId)

            <div class="input-group">
                @Html.TextBoxFor(model => model.ProductGroupId, new
                {
                    placeholder = " Select Product Group",
                    @class = "required form-control form-control-sm",
                    style = "height:32px;"
                })
            </div>

            <span id="titleError1" class="text-danger" style="display:none;"></span>
        </div>-->
        <!-- 🔍 Search Button (FIXED) -->
        <!--<div class="col-sm-auto">
            <button type="button" id="btnSearch"
                    class="btn btn-primary btn-sm d-flex align-items-center gap-1"
                    style="height:32px; padding:0 10px;">
                <i class="fa fa-search"></i>
                <span>Search</span>
            </button>
        </div>-->
        <!--</div>

            </div>
        </div>-->

        <div id="productCardModal" style="display:none;">
            <div id="productCardContainer"></div>
        </div>
        <div id="imageModal" class="img-modal">
            <span class="close-modal">&times;</span>
            <img id="modalImg" src="" alt="Preview Image">
        </div>

        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Sales Details </h3>
            </div>
            <div class="card-body">
                <div id="saleDetails"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"> Payment Details </h3>
                    </div>
                    <div class="card-body">
                        <div id="cardDetails"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">

                    <div class="card-header">
                        <h3 class="card-title">Charges</h3>
                    </div>
                    <div class="card-body">
                        <!-- Header Row -->
                        <div class="row font-weight-bold mb-2">
                            <div class="col-md-3"></div> <!-- Empty space for labels -->
                            <div class="col-sm-2 text-center">Sub-Total</div>
                            <div class="col-sm-2 text-center">SD</div>
                            <div class="col-sm-2 text-center">VAT</div>
                            <div class="col-md-3 text-center">Total</div>
                        </div>



                        <!-- Sub Total -->
                        <div class="row mb-2">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.SubTotal)
                            </div>
                            <div class="col-sm-2">
                                <input id="subTotalSubtotal" class="form-control form-control-sm custom-font-size" readonly style="text-align:right;" />
                            </div>
                            <div class="col-sm-2">
                                <input id="subTotalSD" class="form-control form-control-sm custom-font-size" readonly style="text-align:right;" />
                            </div>
                            <div class="col-sm-2">
                                <input id="subTotalVAT" class="form-control form-control-sm custom-font-size" readonly style="text-align:right;" />
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.SubTotal, new { @class = "form-control form-control-sm custom-font-size", @readonly = "readonly", style = "text-align:right;" })
                            </div>
                        </div>

                        <!-- Round Up -->
                        <div class="row mb-2">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.RoundUp)
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.RoundUp, new { @class = "form-control form-control-sm custom-font-size", @readonly = "readonly", style = "text-align:right;" })
                            </div>
                        </div>

                        <!-- Final Payable -->
                        <div class="row mb-2">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.FinalPayable)
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.FinalPayable, new { @class = "form-control form-control-sm custom-font-size", @readonly = "readonly", style = "text-align:right;" })
                            </div>
                        </div>

                        <!-- Payment -->
                        <div class="row mb-2">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Payment)
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.Payment, new { @class = "form-control form-control-sm custom-font-size", @readonly = "readonly", style = "text-align:right;" })
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Dues)
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.Dues, new { @class = "form-control form-control-sm custom-font-size", @readonly = "readonly", style = "text-align:right;" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>


    <div id="saleDetailsWindow" style="display:none;">
        <div id="saleDetailsGrid"></div>
    </div>
    <div id="cardDetailsWindow" style="display:none;">
        <div id="cardDetailsGrid"></div>
    </div>
    <div id="itemsWindow" style="display:none;">
        <div id="itemsGrid"></div>
    </div>


    <div class="card" style="flex-direction: row; justify-content: space-between; align-items: center;">
        <div class="card-header p-2" style="display: flex; align-items: center; gap: 5px;">

            @if (Model.IsPost)
            {
                <div style="display:flex; align-items:center;">
                    <button type="button" class="button sslPush">Already Posted</button>


                    <button type="button" style="margin-left:5px;" onclick="document.getElementById('reportLink').click();">
                        <i class="k-icon k-i-print"></i> Print
                    </button>

                    <a id="reportLink"
                       href="/DMS/Sale/getReport/@Model.Id"
                       style="display:none;">
                    </a>
                </div>
            }
            else if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            {
                <div style="display:flex; align-items:center; gap:5px;">

                    <button type="button" class="button btnsave sslUpdate">Update</button>

                    <button type="button" class="button btnPost sslPost">Post</button>

                    <button type="button" onclick="document.getElementById('reportLink').click();">
                        <i class="k-icon k-i-print"></i> Print
                    </button>

                </div>

                <a id="reportLink"
                   href="/DMS/Sale/getReport/@Model.Id"
                   style="display:none;">
                </a>

                <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
            }
            else
            {
                <div style="display:none;" class="divUpdate">
                    <button type="button" class="button btnsave sslUpdate">Update</button>
                    <button type="button" class="button btnPost sslPost">Post</button>
                    <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
                </div>
                <div class="divSave">
                    <button class="button btnsave sslSave" type="button" id="">Save</button>
                </div>


            }

        </div>
        <div class="auditshow"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div>
    </div>
    <div class="card card-secondary auditcard">

        <div class="card-header">
            <h3 class="card-title">Audit Details</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        @Html.Label("Type")
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.Label("Created")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Updated")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Posted")
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Label("By")<br /><div class="clearfix">&nbsp;</div>
                            @Html.Label("On")<br /><div class="clearfix">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "CreatedBy  form-control form-control-sm ", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.CreatedOn, new { @class = "CreatedOn  form-control form-control-sm ", @readonly = "readonly" })
                        </div>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.LastModifiedBy, new { @class = "LastUpdateBy  form-control form-control-sm lub", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.LastModifiedOn, new { @class = "LastUpdateOn  form-control form-control-sm luo", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.PostedBy, new { @class = "PostedBy  form-control form-control-sm ", @readonly = "readonly" })<div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.PostedOn, new { @class = "PostedOn  form-control form-control-sm ", @readonly = "readonly" })

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<div id="poWindow" style="display:none;">
    <div id="windowGrid"></div>
</div>

@section scripts{
    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/DMS/js/Controllers/ProductCardController.js"></script>
    <script src="~/Areas/Common/js/Services/CommonValidationHelper.js"></script>

    <script>
        $(document).ready(function () {

            SaleController.init();
        });

    </script>


}

