@model List<ShampanPOS.Models.SaleReportVM>
@*@model ShampanPOS.Models.SaleReportVM*@

@{
    ViewBag.Title = "Sale Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isSummary = ViewBag.IsSummary != null && (bool)ViewBag.IsSummary;

    string reportType = ViewBag.ReportType != null ? ViewBag.ReportType.ToString() : "";
}


@*@{
    var groupName = Model.FirstOrDefault()?.ByGroup == "All" ? "All" : Model.FirstOrDefault()?.CustomerName ?? "N/A";
}*@

<style>
    body {
        font-family: Arial;
        background: #f2f2f2;
    }

    .report-box {
        background: white;
        padding: 20px;
        border: 1px solid #ccc;
        max-width: 1100px;
        margin: 20px auto;
        border-radius: 6px;
    }

    .sslPrint {
        background: #17a2b8;
        color: white;
        padding: 8px 20px;
        border-radius: 4px;
        border: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 13px;
    }

        table th, table td {
            border: 1px solid #777;
            padding: 6px;
        }

        table th {
            background: #e9e9e9;
            text-align: center;
        }

    .text-right {
        text-align: right;
    }
</style>

<button onclick="window.print()" class="sslPrint" style="float:right;margin:20px;">Print</button>



@*<h2 style="text-align:center;border-bottom:1px solid #000;">
        SALE REPORT (@(isSummary ? "SUMMARY" : "DETAILS"))
    </h2>*@



<div class="report-box">
    <!-- HEADER -->
    <table style="border:none;">
        <tr>
            <td style="width:140px;border:none;">
                <img src="~/Content/AdminLte/dist/img/logo.png"
                     style="width:230px;height:120px;" />
            </td>
            <td style="text-align:right;border:none;">
                <h3 style="margin:0;"> @(Model.FirstOrDefault()?.CompanyName) </h3>
                <div> @(Model.FirstOrDefault()?.BranchName)</div>
                <div>69/1 Trhidara Tower</div>
                <div>📞 01612264439</div>
                <div>✉️ symphonysorftech1999@gamil.com</div>
            </td>
        </tr>
    </table>

    <div style="width:100%; margin-bottom:15px; display:flex; justify-content:space-between; font-size:14px; line-height:1.8;">

        <!-- LEFT SIDE -->
        <div style="width:48%; text-align:left;">
            <div><strong>Customer Name:</strong> @(ViewBag.CustomerName )</div>
            <div><strong>From Date:</strong> @(ViewBag.InvoiceFromDate )</div>

        </div>

        <!-- RIGHT SIDE -->
        <div style="width:48%; text-align:right;">
            <div><strong>Product Name:</strong> @(ViewBag.ProductName )</div>
            <div><strong>To Date:</strong> @(ViewBag.InvoiceToDate)</div>
        </div>

    </div>
    <h2 style="text-align:center;border-bottom:1px solid #000;">
        @* Dynamically set the report title based on report type *@
        @if (reportType == "Day Wise")
        {
            <text>Day Wise @(isSummary ? "Summary" : "Details") Report</text>
        }
        else if (reportType == "Monthly")
        {
            <text>Monthly @(isSummary ? "Summary" : "Details") Report</text>
        }
        else if (reportType == "Customer Wise")
        {
            <text>Customer Wise @(isSummary ? "Summary" : "Details") Report</text>
        }
        else if (reportType == "Product Wise")
        {
            <text>Product Wise @(isSummary ? "Summary" : "Details") Report</text>
        }
        else if (reportType == "Invoice Wise")
        {
            <text>Invoice Wise @(isSummary ? "Summary" : "Details") Report</text>
        }
        else
        {
            <text>Sale @(isSummary ? "Summary" : "Details") Report</text>
        }
    </h2>



    <table>
        <thead>
            <tr>

                @if (isSummary)
                {
                    if (reportType == "Day Wise")
                    {
                        <th>Date</th>
                        <th>Total Invoice</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                        <th>VAT</th>
                        <th>Total</th>
                    }
                    else if (reportType == "Monthly")
                    {
                        <th>Month</th>
                        <th>Total Invoice</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    }
                    else if (reportType == "Customer Wise")
                    {
                        <th>Customer</th>
                        <th>Total Invoice</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    }
                    else if (reportType == "Product Wise")
                    {
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                        <th>VAT</th>
                        <th>Total</th>
                    }
                    else if (reportType == "Invoice Wise")
                    {
                        <th>Sale Code</th>
                        <th>Date</th>
                        <th>Customer</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                        <th>VAT</th>
                        <th>Total</th>
                    }
                }
                else
                {
                    if (reportType == "Day Wise")
                    {
                        <th>Date</th>
                        <th>Sale Code</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                        <th>VAT</th>
                        <th>Total</th>
                    }
                    else if (reportType == "Monthly")
                    {
                        <th>Month</th>
                        <th>Sale Code</th>
                        <th>Date</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    }
                    else if (reportType == "Customer Wise")
                    {
                        <th>Customer</th>
                        <th>Sale Code</th>
                        <th>Date</th>
                        <th>Quantity</th>
                        <th>Unit Rate</th>
                        <th>Sub Total</th>
                        <th>VAT</th>
                        <th>Total</th>
                    }
                    else if (reportType == "Product Wise")
                    {
                        <th>Product</th>
                        <th>Sale Code</th>
                        <th>Date</th>
                        <th>Quantity</th>
                        <th>Unit Rate</th>
                        <th>Sub Total</th>
                        <th>VAT</th>
                        <th>Total</th>
                    }
                    else if (reportType == "Invoice Wise")
                    {
                        <th>Sale Code</th>
                        <th>Date</th>
                        <th>Customer</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Unit Rate</th>
                        <th>Sub Total</th>
                        <th>VAT</th>
                        <th>Total</th>
                    }
                }

            </tr>
        </thead>

        <tbody>

            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        @if (isSummary)
                        {
                            if (reportType == "Day Wise")
                            {
                                <td>@item.InvoiceDateTime</td>
                                <td>@item.TotalInvoice</td>
                                <td class="text-right">@item.Quantity</td>
                                <td class="text-right">@item.SubTotal</td>
                                <td class="text-right">@item.VATAmount</td>
                                <td class="text-right">@item.LineTotal</td>
                            }
                            else if (reportType == "Monthly")
                            {
                                <td>@item.InvoiceDateTime</td>
                                <td>@item.TotalInvoice</td>
                                <td class="text-right">@item.Quantity</td>
                                <td class="text-right">@item.LineTotal</td>
                            }
                            else if (reportType == "Customer Wise")
                            {
                                <td>@item.CustomerName</td>
                                <td>@item.TotalInvoice</td>
                                <td class="text-right">@item.Quantity</td>
                                <td class="text-right">@item.LineTotal</td>
                            }
                            else if (reportType == "Product Wise")
                            {
                                <td>@item.ProductName</td>
                                <td class="text-right">@item.Quantity</td>
                                <td class="text-right">@item.SubTotal</td>
                                <td class="text-right">@item.VATAmount</td>
                                <td class="text-right">@item.LineTotal</td>
                            }
                            else if (reportType == "Invoice Wise")
                            {
                                <td>@item.Code</td>
                                <td>@item.InvoiceDateTime</td>
                                <td>@item.CustomerName</td>
                                <td class="text-right">@item.Quantity</td>
                                <td class="text-right">@item.SubTotal</td>
                                <td class="text-right">@item.VATAmount</td>
                                <td class="text-right">@item.LineTotal</td>
                            }
                        }
                        else
                        {
                            if (reportType == "Day Wise")
                            {
                                <td>@item.InvoiceDateTime</td>
                                <td>@item.Code</td>
                                <td class="text-right">@item.Quantity</td>
                                <td class="text-right">@item.SubTotal</td>
                                <td class="text-right">@item.VATAmount</td>
                                <td class="text-right">@item.LineTotal</td>
                            }
                            else if (reportType == "Monthly")
                            {
                                <td>@item.InvoiceDateTime</td>
                                <td>@item.Code</td>
                                <td>@item.InvoiceDateTime</td>
                                <td class="text-right">@item.Quantity</td>
                                <td class="text-right">@item.LineTotal</td>
                            }
                            else if (reportType == "Customer Wise")
                            {
                                <td>@item.CustomerName</td>
                                <td>@item.Code</td>
                                <td>@item.InvoiceDateTime</td>
                                <td class="text-right">@item.Quantity</td>
                                <td class="text-right">@item.UnitRate</td>
                                <td class="text-right">@item.SubTotal</td>
                                <td class="text-right">@item.VATAmount</td>
                                <td class="text-right">@item.LineTotal</td>
                            }
                            else if (reportType == "Product Wise")
                            {
                                <td>@item.ProductName</td>
                                <td>@item.Code</td>
                                <td>@item.InvoiceDateTime</td>
                                <td class="text-right">@item.Quantity</td>
                                <td class="text-right">@item.UnitRate</td>
                                <td class="text-right">@item.SubTotal</td>
                                <td class="text-right">@item.VATAmount</td>
                                <td class="text-right">@item.LineTotal</td>
                            }
                            else if (reportType == "Invoice Wise")
                            {
                                <td>@item.Code</td>
                                <td>@item.InvoiceDateTime</td>
                                <td>@item.CustomerName</td>
                                <td>@item.ProductName</td>
                                <td class="text-right">@item.Quantity</td>
                                <td class="text-right">@item.UnitRate</td>
                                <td class="text-right">@item.SubTotal</td>
                                <td class="text-right">@item.VATAmount</td>
                                <td class="text-right">@item.LineTotal</td>
                            }
                        }
                    </tr>
                }

                <!-- TOTAL -->


                <tr style="font-weight:bold;background:#f1f1f1;">
                    @if (isSummary)
                    {
                        if (reportType == "Day Wise")
                        {
                            <td>Total</td>
                            <td class="text-right">@Model.Sum(x => x.TotalInvoice)</td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.SubTotal)</td>
                            <td class="text-right">@Model.Sum(x => x.VATAmount)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                        else if (reportType == "Monthly")
                        {
                            <td>Total</td>
                            //<td></td>
                            <td class="text-right">@Model.Sum(x => x.TotalInvoice)</td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                        else if (reportType == "Customer Wise")
                        {
                            <td>Total</td>
                            //<td></td>
                            <td class="text-right">@Model.Sum(x => x.TotalInvoice)</td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                        else if (reportType == "Product Wise")
                        {
                            <td>Total</td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.SubTotal)</td>
                            <td class="text-right">@Model.Sum(x => x.VATAmount)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                        else if (reportType == "Invoice Wise")
                        {
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.SubTotal)</td>
                            <td class="text-right">@Model.Sum(x => x.VATAmount)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                        else
                        {
                            <td>Total</td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.SubTotal)</td>
                            <td class="text-right">@Model.Sum(x => x.VATAmount)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                    }
                    else
                    {
                        if (reportType == "Day Wise")
                        {
                            <td>Total</td>
                            <td></td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.SubTotal)</td>
                            <td class="text-right">@Model.Sum(x => x.VATAmount)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                        else if (reportType == "Monthly")
                        {
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                        else if (reportType == "Customer Wise")
                        {
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.UnitRate)</td>
                            <td class="text-right">@Model.Sum(x => x.SubTotal)</td>
                            <td class="text-right">@Model.Sum(x => x.VATAmount)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                        else if (reportType == "Product Wise")
                        {
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.UnitRate)</td>
                            <td class="text-right">@Model.Sum(x => x.SubTotal)</td>
                            <td class="text-right">@Model.Sum(x => x.VATAmount)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                        else if (reportType == "Invoice Wise")
                        {
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.UnitRate)</td>
                            <td class="text-right">@Model.Sum(x => x.SubTotal)</td>
                            <td class="text-right">@Model.Sum(x => x.VATAmount)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                        else
                        {
                            <td>Total</td>
                            <td class="text-right">@Model.Sum(x => x.Quantity)</td>
                            <td class="text-right">@Model.Sum(x => x.SubTotal)</td>
                            <td class="text-right">@Model.Sum(x => x.VATAmount)</td>
                            <td class="text-right">@Model.Sum(x => x.LineTotal)</td>
                        }
                    }
                </tr>

            }
            else
            {
                <tr>
                    <td colspan="10" style="text-align:center;">No data</td>
                </tr>
            }

        </tbody>
    </table>

</div>
